# Requisitos para las pruebas del sistema PuenteLLM-MCP

# Paquetes necesarios para el entorno de pruebas
python-dotenv>=1.0.1
strictjson>=1.0.3
requests>=2.31.0
mcp>=1.19.0
loguru>=0.7.2

# Paquetes necesarios para la interfaz gráfica
customtkinter>=5.2.2

# Paquetes necesarios para el LLM
ollama>=0.6.0

# Paquetes adicionales para pruebas
unittest-xml-reporting>=3.2.0